<% notice.notice_comment2s.each do |notice_comment2| %>
  <div class="row mb-4">
    <div class="col-sm-3">
      <%= link_to senior_path(notice_comment2.senior) do %>
        <%= image_tag notice_comment2.senior.get_profile_image(100,100) %><br>
        <%= notice_comment2.senior.nickname %>
      <% end %>
      <% if notice.genre.discount_info? %>
      <%= render "public/notices/static_rate", notice: notice_comment2, prefix: "comment" %>
      <% end %>
    </div>
    <div class="col-sm-6">
      <%= notice_comment2.comment %>
    </div>
    <div class="col-sm-3">
      <% if notice_comment2.senior == current_senior %>
        <%= link_to "削除する", notice_notice_comment_path(notice, notice_comment2), method: :delete, class: "btn btn-danger pull-right" %>
      <% end %>
    </div>
  </div>
<% end %>