<div class="container-fluid">
  <div class="row mt-3">
    <h3 class="mb-3 ml-4 h1"><投稿詳細></h3>
  </div>
  <div class="row">
    <div class="col-md-3">
      <%= image_tag @notice.get_notice_image(300,300), class:"shadow img-thumbnail" %>
    </div>
    <div class="col-md-8">
      <div class="form-group row">
        <p class="col-4 h2">タイトル</p>
        <p class="col-8 h2"><%= @notice.title %></p>
      </div>
      <div class="form-group row">
        <p class="col-4 h2">投稿内容</p>
        <p class="col-8 h2"><%= @notice.body %></p>
      </div>
      <div class="form-group row">
        <p class="col-4 h2">投稿の種類</p>
        <p class="col-8 h2"><%= @notice.genre.name %></p>
      </div>

      <div class="form-group row">
        <p class="col-4 h2">開始日時</p>
        <p class="col-8 h2"><%= @notice.start_datetime.strftime('%m月%d日%H:%M')%></p>
      </div>

      <div class="form-group row">
        <p class="col-4 h2">終了日時</p>
        <p class="col-8 h2"><%= @notice.end_datetime.strftime('%m月%d日%H:%M')%></p>
      </div>

      <div class="form-group row">
        <p class="col-4 h2">開催場所</p>
        <p class="col-8 h2"><%= @notice.place %></p>
      </div>

      <div class="form-group row">
        <p class="col-4 h2">投稿者ニックネーム</p>
        <p class="col-8 h2"><%= @notice.senior.nickname %></p>
      </div>

      <div class="form-group row">
      <p class="col-4 h2">コメント数: <%= @notice.notice_comments.count %></p>
      <p class="col-8 h2"><%= render "public/favorites/btn", notice: @notice %></p>

      <%= render "public/notice_comments/index", notice: @notice %>
      <%= render "public/notice_comments/form", notice: @notice, notice_comment: @notice_comment %>
    </div>

    <div class="orm-group row">
      <%= link_to "編集する", edit_notice_path, class: "btn btn-success btn-lg" %>
      <%= link_to "削除する", notice_path, method: :delete, data: { confirm: "本当に投稿を削除しますか？" }, class: "btn btn-danger btn-lg destroy_notice_#{@notice.id}" %>
    </div>
  </div>


