<div class = "container-fluid">
  <div class ="row">
    <div class="col-md-9 col-9 mx-6 mx-auto px-auto my-5">
      <h1><span>登録情報編集</span></h1>

       <%= form_with model: @senior, url: senior_path, method: :patch, local: true do |f| %>
        <div class="form-group row my-3">

        <div class="form-group row">
        <%= f.label :email, 'メールアドレス', class:'col-3 px-0 mx-auto col-form-label col-form-label-lg' %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class:'col-7 mx-auto form-control' %>
        </div>

        <div class="form-group row">
        <%= f.label :last_name, '姓', class:'col-3 px-0 mx-auto col-form-label col-form-label-lg' %><br />
        <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name", class:'col-7 mx-auto form-control' %>
        </div>

        <div class="form-group row">
        <%= f.label :first_name, '名', class:'col-3 px-0 mx-auto col-form-label col-form-label-lg' %><br />
        <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name", class:'col-7 mx-auto form-control' %>
        </div>

        <div class="form-group row">
        <%= f.label :nickname, 'ニックネーム', class:'col-3 px-0 mx-auto col-form-label col-form-label-lg' %><br />
        <%= f.text_field :nickname, autofocus: true, autocomplete: "nickname", class:'col-7 mx-auto form-control' %>
        </div>

        <div class="form-group row">
        <%= f.label :email, 'メールアドレス', class:'col-3 px-0 mx-auto col-form-label col-form-label-lg' %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class:'col-7 mx-auto form-control' %>
        </div>

        <div class="form-group row">
        <%= f.label :body, '紹介文', class:'col-3 px-0 mx-auto col-form-label col-form-label-lg' %><br />
        <%= f.text_area :body, autofocus: true, autocomplete: "email", class:'col-7 mx-auto form-control' %>
        </div>

        <div class="form-group row">
        <%= f.label :password, 'パスワード(6文字以上)', class:'col-3 px-0 mx-auto col-form-label col-form-label-lg' %>
        <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class:'col-7 mx-auto form-control' %>
        </div>


        <div class="form-group row">
        <%= f.label :password_confirmation, 'パスワード確認用', class:'col-3 px-0 mx-auto col-form-label col-form-label-lg' %>
        <%= f.password_field :password_confirmation, autofocus: true, autocomplete: "new-password", class:'col-7 mx-auto form-control' %>
        </div>

        <div class="form-group row">
        <span class="col-5"></span>
        <%= f.submit "新規登録", class: "btn btn btn-success col-4" %>
        </div>

      <% end %>
        <#div class="text-center">
        <#h3 class="center-block">すでに登録済みの方</h3>
        <h3><%#= render "public/shared/links" %></h3>
        <h3>からログインしてください</h3>
        </div>
    </div>
  </div>
</div>