<div class = "container-fluid">
  <div class ="row">
    <div class="col-lg-8 col-md-10 col-sm-12 mx-6 mx-sm-auto px-auto my-5">
      <h1><span><登録情報編集></span></h1>
      <%= form_with model: @senior, url: senior_path(@senior.id), method: :patch, local: true do |f| %>
      <label class="form-group row my-3">画像登録</label>
        <div class="col-md-5">
          <%= f.file_field :profile_image, accept: "profile_image/*"%>
        </div>
        <div class="form-group row my-3">
          <%= f.label :email, 'メールアドレス', class:'col-3 px-0 mx-auto col-form-label col-form-label-lg' %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class:'col-7 mx-auto form-control' %>
        </div>
        <div class="form-group row">
          <%= f.label :last_name, '姓', class:'col-3 px-0 mx-auto col-form-label col-form-label-lg' %><br />
          <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name", class:'col-7 mx-auto form-control' %>
        </div>
        <div class="form-group row">
          <%= f.label :first_name, '名', class:'col-3 px-0 mx-auto col-form-label col-form-label-lg' %><br />
          <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name", class:'col-7 mx-auto form-control' %>
        </div>
        <div class="form-group row">
          <%= f.label :nickname, 'ニックネーム', class:'col-3 px-0 mx-auto col-form-label col-form-label-lg' %><br />
          <%= f.text_field :nickname, autofocus: true, autocomplete: "nickname", class:'col-7 mx-auto form-control' %>
        </div>
        <div class="form-group row">
          <%= f.label :email, 'メールアドレス', class:'col-3 px-0 mx-auto col-form-label col-form-label-lg' %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class:'col-7 mx-auto form-control' %>
        </div>
        <div class="form-group row">
          <%= f.label :introduction, '紹介文', class:'col-3 px-0 mx-auto col-form-label col-form-label-lg' %><br />
          <%= f.text_area :introduction, autofocus: true, class:'col-7 mx-auto form-control' %>
        </div>
        <div class="form-group row">
          <%= f.label :password, 'パスワード(6文字以上)', class:'col-3 px-0 mx-auto col-form-label col-form-label-lg' %>
          <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class:'col-7 mx-auto form-control' %>
        </div>
        <div class="form-group row">
          <%= f.label :password_confirmation, 'パスワード確認用', class:'col-3 px-0 mx-auto col-form-label col-form-label-lg' %>
          <%= f.password_field :password_confirmation, autofocus: true, autocomplete: "new-password", class:'col-7 mx-auto form-control' %>
        </div>
        <div class="form-group row">
          <span class="col-5"></span>
            <%= f.submit "更新する", class: "btn btn btn-success col-4" %>
            <%#= link_to "退会する", check_seniors_path, class:'btn btn-danger col-2 offset-2' %>
        </div>
      <% end %>
    </div>
  </div>
</div>